body{
    margin: auto;
    background-color: black;
    width:100%;
    background-image: url("../images/psychic_bg.jpg");
}
.container{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 275px;
    margin:auto;
}